.heading {
     width: 100%;
     margin: 0px;
     box-shadow: 5px 5px 5px 5px rgb(103, 100, 100);
     font-size: 300%;
     font-style: unset;
     font-family: 'Playpen Sans', cursive;
}

.heading_div {
     background: white;
     border-radius: 20px;
     color: black;
     box-shadow: 5px 5px 5px rgb(200, 208, 218);
     float: none;
     padding: 10px;
     font-size: 18px;
}

.heading_div2 {
     font-size: 18px;
}

.result_para_tag {
     box-shadow: 5px 5px 5px grey;
     font-size: 20px;
}

.result_para_tag span {
     white-space: pre-line;
}

body {
     background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-green-solid-color-background.jpg)
}

.copy_right_footer {
     position: fixed;
     color: rgb(61, 61, 61);
     bottom: 0;
     width: 100%;
     background-color: grey;
     line-height: 3;
     text-align: center;
     color: white;
     margin-top: 100px;
}

canvas {
     border: 5 rgb(0, 93, 252) double;
     border-radius: 30px;
     box-shadow: 5px 5px 5px rgb(0, 93, 252);
     margin-top: -30px;
     background: rgb(61, 61, 61);

}

textarea {
     margin: 30;
     width: 80%;
     height: 200px;
}

#btnswitch {
     margin-bottom: 50px;
}
